{% extends 'base.html' %}

{% block content %}
<h1>Clinical Trials</h1>
<a href="{{ url_for('add_trial_gui') }}" class="btn btn-primary">Add New Trial</a>
<table class="table">
    <thead>
        <tr>
            <th>Trial ID</th>
            <th>Trial Name</th>
            <th>Product</th>
            <th>Trial Type</th>
            <th>Start Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for trial in trials %}
        <tr>
            <td>{{ trial.TrialID }}</td>
            <td>{{ trial.TrialName }}</td>
            <td>{{ trial.product.ProductName }}</td>
            <td>{{ trial.TrialType }}</td>
            <td>{{ trial.StartDate.strftime('%Y-%m-%d') }}</td>
            <td>
                <a href="{{ url_for('trial_detail_gui', trial_id=trial.TrialID) }}" class="btn btn-info">View</a>
                <a href="{{ url_for('edit_trial_gui', trial_id=trial.TrialID) }}" class="btn btn-warning">Edit</a>
                <a href="{{ url_for('delete_trial_gui', trial_id=trial.TrialID) }}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}