{% extends 'base.html' %}

{% block content %}
<h1>Add New Patient</h1>
<form method="post">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required>
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <input type="number" class="form-control" id="Age" name="Age">
    </div>
    <div class="form-group">
        <label for="Gender">Gender</label>
        <select class="form-control" id="Gender" name="Gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="medical_history">Medical History</label>
        <textarea class="form-control" id="medical_history" name="medical_history"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Patient</button>
</form>
{% endblock %}